
#abc{font-size:100%;background:#9932cc;font-family:arial}
a.menu{color:#ffffff;text-decoration:none;}
a.submenu{color:black;text-decoration:none;}
a:hover{/* color:#ffffff */}
td.menu{background:lightblue;border: 1px solid black}
table.menu
{
font-size:100%;
position:absolute;
z-index:1;
visibility:hidden;
/* border: 1px solid black */
border-spacing:0px;
}